
@media (max-width:1000px) {
    /*  GERAIS */
    html{
        font-size: 50%;
    }
}
@media (max-width:768px) {
    /*  GERAIS */
    html{
        font-size: 45%;
    }
    /* HEADER */
    nav{
        display:none;
    }
    .one,.two,.three{
        background-color: black;
        height:3px;
        width:100%;
        margin: 6px auto;
        transition-duration:0.3s ;
    }
    .menu-toggle{
        width:25px;
        height:25px;
    }
    .menu-section.on{ 
        background-color:var(--cor1);
        width:100vw;
        z-index: 10;
        text-align: center;
    }
    .menu-section.on nav{
        display: block;
    }
    .menu-section.on .menu-toggle {
        position: absolute;
        right: 5%;
        top: 40%;
    }
    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(4px, 9px);
    }
    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }
    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(3px, -9px);
    }
    nav li{
        transition: 250ms linear 0s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li a{ 
        transition-duration: 0.5s ;
        font-size: 2.5rem;
        width: 70%;
    }
    #input-pesquisa{
        width: 35vw;
    }
    
}
@media (max-width:550px) {
   /* GERAIS */
    html{
        font-size: 45%;
    }
    /* HEADER */
    .logo-texto{
        display: none;
    }
    #input-pesquisa{
        width: 50vw;
    }
    /* INDEX*/
    .caixa-produtos{
        flex-direction: column !important;
    }
    .produto{
        margin: 0 !important;
        border: none !important;
        flex-direction: row !important;
        align-items: center !important;
        width: 100% !important;
    }
    .produto:not(:first-child){
        border-top: #777 solid 1px !important;
    }
    .info-mobile{
        width: 30vw;
        text-align: center;
    }
    .img-produto{
        margin: 2rem 0;
        height: 180px;
        width: 100%;
        max-width: 155px;
    }
    .preco-produto{
        margin: 1rem 0 ;
        font-size: 3rem;
    }
}