header a {
    display: block;
    color: black;
}
.logo {
    width: 10%;
    min-width: 60px;
}
.logo-texto {
    font-size: 3rem;
    color: var(--verde);
}
span {
    color: var(--marrom);
}
#input-pesquisa {
    font-size: 1.2rem;
    width: 24vw;
    padding: 1.2vw;
}
#input-pesquisa::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
.icon-pesquisa {
    border: none;
    color: #fff;
    background-color: black;
    font-size: 1.7rem;
}

.imagens-link {
    margin: 0.5rem;
    display: block;
    width: 5vw;
    min-width: 50px;
}

/* HAMBURGUER */
nav {
    list-style: none;
    display: flex;
    align-items: center;
}
nav li {
    display: flex;
    align-items: center;
}

/* SEGUNDA PARTE DO HEADER */
header ul {
    margin: 0;
    padding: 2rem 3rem;
    background-color: var(--verde);
    list-style: none;
}
.item-ul {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

/* ESTRUTURA PRODUTOS */
.preco-produto {
    color: var(--branco);
    font-size: 2.5rem;
    background-color: var(--verde);
}
.img-produto {
    object-fit: cover;
    height: 50vh;
}

/* FOOTER */
footer .icons {
    font-size: 5rem;
}